* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 1rem;
}
html,
body,
.container,
.header {
  margin-top: 0rem;
}
.container {
  max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  background-image: url(images/header.jpg);
  background-repeat: no-repeat;
  background-size: 175% auto;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  flex-flow: column wrap;
}
.options {
  margin: 4rem 0rem 12rem 0rem;
  display: flex;
  flex-flow: row wrap;
}
.logo {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
#logo {
  height: 6rem;
  margin: 0rem;
}
.nav {
  flex: 5 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.menu {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.nav li {
  flex: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav p {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(145, 145, 145);
}
.listItem {
  margin: 0.1rem;
}
.socialMedia {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 1.5rem;
  opacity: 0.6;
}
.listItem:hover,
.icon:hover {
  opacity: 100%;
  color: black;
  font-weight: bold;
}
.mainTitle {
  width: 90%;
  margin: 0rem;
  margin-top: 3rem;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: rgba(138, 138, 138, 0.3);
}
.mainTitle h1 {
  margin: 0rem;
  padding: 3rem 22rem 7rem 22rem;
  color: rgb(234, 158, 77, 0.6);
  font-size: 3rem;
  font-weight: lighter;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.section {
  margin: 0rem;
  display: flex;
}
.articles {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-flow: row wrap;
  flex: 2 1 auto;
}
.article {
  padding: 1rem;
  background-color: rgb(248, 248, 248);
  flex: 1 1 40%;
}
.articleImage {
  margin: 0rem;
  display: flex;
}
#cultura {
  background-image: url(images/sakura.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#gastronomia {
  background-image: url(images/comida.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#turismo {
  background-image: url(images/fuji.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#vidaNocturna {
  background-image: url(images/noche.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.articleDate {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 95);
  margin: 20rem 0rem 0.5rem 0.5rem;
}
.articleTitle {
  margin: 0rem;
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(215, 147, 151);
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.articleText {
  column-count: 2;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 80);
}
.articleFoot {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(145, 145, 145);
}
.articleFoot:hover {
  opacity: 100%;
  color: black;
  font-weight: bold;
}
.foot {
  flex: 1 1 100%;
}
.foot p {
  margin: 0rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.aside {
  background-color: rgb(230, 230, 230);
  flex: 1 1 auto;
}
.something {
  padding: 1rem;
}
.something h3 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.something p {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.footer {
  padding: 0 1rem 0 1rem;
  background-color: rgb(230, 230, 230);
}
.info {
  margin: 0rem;
  padding: 1rem 0 1rem 0;
  background-color: rgb(248, 248, 248);
}
.info p {
  margin: 0rem;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 80);
  text-align: center;
}

/*Ejercicio 2*/
@media (max-width: 1024px) {
  .section {
    display: flex;
    flex-direction: column;
  }
}

/*Ejercicio 3*/
@media (max-width: 767px) {
  .options {
    display: flex;
    flex-direction: column;
  }
  .articles {
    flex-direction: column;
  }
}
